@import "primeicons/primeicons.css";

body{
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  margin: 0;
}

html{
  --background-color: #f4f2ef;
  --text: #01031c;
  --primary: #326be6;
  --secondary: #94b6ef;
  --accent: #e68c3a;
}

html.dark-mode{
  --background-color: #131315;
  --text: #e8dfd5;
  --primary: #3261d8;
  --secondary: #89b4ef;
  --accent: #ff681f;
}
